@font-face{
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf)
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

html, body{
    height: 100%;
    width: 100%;
}



#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vh 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgb(183, 177, 177);
    border-radius: 50px;
    font-weight: 500;
    color: #585050df;
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
    font-size: 18px;
}

#nav-part2 h4::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: white;
}

#center{
    height: 67vh;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid #9e8f8fbb;
    padding-bottom: 2.5vw;
}

#left{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 5vw;
    width: 100%;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
   
    /* border-radius: 50%; */
    right: 0;
    top: 65vh;
}

#hero-1{
    width: 100%;
    height: 100%;
    background-color: #FE330A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2{
    width: 30vw;
    height: 30vw;
    background-color: #FE330A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}

#hero-3{
    width: 30vw;
    height: 30vw;
    background: linear-gradient(#FE330A , #df2e0a);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes anime1 {
    from{
        transform: translate(55% , -3%);
    }

    to{
        transform: translate(0%, 10%);
    }
}

@keyframes anime2{
    from{
        transform: translate(5% , -5%);
    }

    to{
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(235, 195, 195);
}